// .container {
//   width: 100%;
//   display: flex;
//   align-items: center;

//   &:first-child {
//     width: 25vw;
//   }

//   &:last-child {
//     width: 25vw;
//   }
// }


.container {
  width: 100%;
  min-height: 100vh;


}

:ng-deep router-outlet{
  width: 80vw;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%; /* Take up remaining space after sidebar */
}

// app-header {
//   width: 100%; /* Set header width to 100% */
// }

// app-sidebar {
//   width: 25%;
//   background-color: #f0f0f0; /* Example background color for sidebar */
// }

// router-outlet {
//   width: 75%; /* Set main content area width */
//   padding: 1rem; /* Example padding for content */
// }
