@import 'common.scss';
.container {
  width: 100%;
  min-height: 100vh;
  background: var(--main-bg-color);
  display: flex;

  .sidebar{
    display: none;
  }

  .content-wrapper {
    width: 100%;
    padding: 0 0.3rem;


  }

}

:ng-deep router-outlet {
  width: 80vw;
}


@include DesktopScreen{
  :host{
    .container {
      .sidebar{
        display: block;
      }
      .content-wrapper {
        width: 83%;
        padding: 0 0.3rem 2rem 0.3rem;
      }
    }
  }
}
