<section class="intro">
<div class="intro__text">
  <div class="text">
    <h2>استكشف المطارات السعودية</h2>
    <p>نتيح للمستفيد معرفة معلومات المطارات الدولية بالمملكة لتنفيذ الاجراءات اللازمة.</p>
  </div>
  <div class="airports">
    <p>الرياض</p>
    <h3>مطار الملك خالد</h3>
    <div>
      <svg><use href="#wave"></use></svg>
      <span>دولي</span>
    </div>
    <div>
      <svg><use href="#wave"></use></svg>
      <span>خدمات طبية</span>
    </div>
    <div>
      <svg><use href="#wave"></use></svg>
      <span>خدمات ارضية</span>
    </div>
  </div>
  <div class="btn">
    <span>عرض المزيد</span>
    <svg><use href="#left-arrow"></use></svg>
  </div>
</div>
<div class="intro__map">
  <img src="../../../../../assets/images/map.png" alt="map">
</div>
</section>
