<header class="header">
<div class="header__right-part">
  <svg><use href="#arrow-right"></use></svg>
  <p>طلب رحلة واحدة</p>
  <img src="../../../.././../assets/images/logo.png" alt="logo">
</div>
<div class="header__left-part">
  <div class="header__notification">
    <p>التنبيهات</p>
    <svg><use href="#bill"></use></svg>
    <span>2</span>
  </div>
  <div class="header__user-info">
    <img src="../../../.././../assets/images/user.png" alt="user-avatar">
    <div>
      <p class="name">محمد عبدالكريم</p>
      <p class="email">abdulkareem.com</p>
    </div>
    <svg><use href="#more-dots"></use></svg>
  </div>
</div>
</header>
