<section class="home">
  <app-intro></app-intro>
  <div class="form__section">
    <p-accordion [multiple]="true">
      <p-accordionTab class="accordion_header" header="البيانات الاساسية" role="heading">
        <form [formGroup]="section1Form">
          <div class="form-group">
            <label for="client">اختر العميل</label>
            <p-dropdown [options]="clients" formControlName="client" required class="custom-dropdown"></p-dropdown>
          </div>

          <div class="form-group">
            <label for="clientName">اسم العميل</label>
            <span class="error-text" *ngIf="section1Form.get('clientName')?.errors?.['required']">*</span>
            <input type="text" pInputText id="clientName" formControlName="clientName" required>
          </div>

          <div class="form-group">
            <label for="phone">رقم جوال العميل</label>
            <span class="error-text" *ngIf="section1Form.get('phone')?.errors?.['required']">*</span>
            <input type="tel" pInputText id="phone" formControlName="phone"  [placeholder]="' '" required >
          </div>

          <div class="form-group">
            <label for="mail">البريد الإلكتروني للعميل</label>
            <span class="error-text" *ngIf="section1Form.get('mail')?.errors?.['required']">*</span>
            <input type="text" pInputText id="mail" formControlName="mail" required>
          </div>

          <div class="form-group">
            <label for="nationality">جنسية العميل </label>
            <span class="error-text" *ngIf="section1Form.get('nationality')?.errors?.['required']">*</span>
            <p-dropdown [options]="nationalities" formControlName="nationality" required
              class="custom-dropdown"></p-dropdown>
          </div>

          <div class="form-group">
            <label for="ref"> مرجع العميل </label>
            <input type="text" pInputText id="ref" formControlName="ref" required>
          </div>

          <div class="form-group">
            <label for="dateOfBirth">تاريخ الميلاد</label>
            <p-calendar class="calendar-input" [placeholder]="'يوم / شهر / سنة'" [iconDisplay]="'input'" [showIcon]="true" formControlName="dateOfBirth" inputId="icondisplay" />
          </div>
        </form>
      </p-accordionTab>

      <p-accordionTab class="accordion_header" header="معلومات المشغل" role="heading">
        <form [formGroup]="section1Form">
          <div class="form-group">
            <label for="client">الدولة</label>
            <p-dropdown [options]="clients" formControlName="client" required class="custom-dropdown"></p-dropdown>
          </div>

          <div class="form-group">
            <label for="clientName">الجنسية</label>
            <span class="error-text" *ngIf="section1Form.get('clientName')?.errors?.['required']">*</span>
            <p-dropdown [options]="clients" formControlName="client" required class="custom-dropdown"></p-dropdown>
          </div>

          <div class="form-group">
            <label for="client">اختر المشغل</label>
            <p-dropdown [options]="clients" formControlName="client" required class="custom-dropdown"></p-dropdown>
          </div>

          <div class="form-group">
            <label for="phone">رقم جوال العميل</label>
            <span class="error-text" *ngIf="section1Form.get('phone')?.errors?.['required']">*</span>
            <input type="tel" pInputText id="phone2" formControlName="phone"  [placeholder]="' '" required >
          </div>

          <div class="form-group">
            <label for="clientName">الإسم</label>
            <span class="error-text" *ngIf="section1Form.get('clientName')?.errors?.['required']">*</span>
            <input type="text" pInputText id="clientName" formControlName="clientName" required>
          </div>

          <div class="form-group">
            <label for="ref">العنوان</label>
            <input type="text" pInputText id="ref" formControlName="ref" required>
          </div>

          <div class="form-group">
            <label for="clientName"> عنوان البريد الإلكتروني</label>
            <span class="error-text" *ngIf="section1Form.get('clientName')?.errors?.['required']">*</span>
            <input type="text" pInputText id="clientName" formControlName="clientName" required>
          </div>

          <div class="form-group">
            <label for="clientName">الموقع الإلكتروني</label>
            <span class="error-text" *ngIf="section1Form.get('clientName')?.errors?.['required']">*</span>
            <input type="text" pInputText id="clientName" formControlName="clientName" required>
          </div>
        </form>
      </p-accordionTab>

      <p-accordionTab class="accordion_header" header="الغرض من الرحلة" role="heading">
        <form [formGroup]="section1Form">
          <div class="form-group">
            <label for="client">الغرض من الرحلة</label>
            <p-dropdown [options]="clients" formControlName="client" required class="custom-dropdown"></p-dropdown>
          </div>
        </form>
      </p-accordionTab>

      <p-accordionTab class="accordion_header" header="معلومات الطائرة" role="heading">
        <form [formGroup]="section1Form">
          <div class="form-group">
            <label for="client">الغرض من الرحلة</label>
            <p-dropdown [options]="clients" formControlName="client" required class="custom-dropdown"></p-dropdown>
          </div>
        </form>
      </p-accordionTab>

      <p-accordionTab class="accordion_header" header="تفاصيل الرحلة" role="heading">
        <form [formGroup]="section1Form">
          <div class="form-group">
            <label for="client">الغرض من الرحلة</label>
            <p-dropdown [options]="clients" formControlName="client" required class="custom-dropdown"></p-dropdown>
          </div>
        </form>
      </p-accordionTab>

      <p-accordionTab class="accordion_header" header="ملاحظات" role="heading">
        <form [formGroup]="section1Form">
          <div class="form-group">
            <label for="client">الغرض من الرحلة</label>
            <p-dropdown [options]="clients" formControlName="client" required class="custom-dropdown"></p-dropdown>
          </div>
        </form>
      </p-accordionTab>

    </p-accordion>

  </div>

</section>
