@import 'common.scss';

:host {
  width: 100%;
  display: block;
  margin: 0.5rem auto;

}

.home {
  background: #FFFFFF;
  padding: 0;
  // min-height: 100vh;
  border-radius: 8px;
}

@include DesktopScreen{
  :host{
    .home{
      padding: 1.5rem;
    }
  }
}
